@import url("https://fonts.googleapis.com/css?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Delius&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Sansita+Swashed:wght@300;400;500;600;700&display=swap');

:root {
  --color-primary: #2563eb;
  --color-secondary: #0f8da2;
  --color-warning: #ebac25;
  --color-error: #dc2626;
}

* {
    transition: all ease-out 0.2s;
}

body {
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.font-pacifico {
    font-family: "Pacifico", cursive;
}

.font-delius {
    font-family: "Delius", cursive;
}

.font-logo {
    font-family: 'Sansita Swashed', cursive;
}
